*{
    margin: 0;
    padding: 0;
}
body{
    border-radius: 57px;
background: #323658;
box-shadow: inset -28px 28px 56px #2b2e4b, 
            inset 28px -28px 56px #3a3e65;
    
}
nav{
    
    padding: 10px;
    width: 100%;
    background: #323658;
    box-shadow: inset -28px 28px 56px #2b2e4b, 
            inset 28px -28px 56px #3a3e65;
}
ul{
    display: flex;
    justify-content: space-evenly;
    

}
ul>li{
    list-style: none;
    background: none;
    padding: 0;
    
}
a{
   color: white;
   text-decoration: none;
   font-family: monospace;
}
a:hover{
    color: lightsteelblue;
}
h2{
    margin-left: 40%;
    color: white;
    padding: 20px;
}
li{
    background-color: violet;
    list-style: none;
    padding-left: 40%;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    
}

#footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    clear: both;
    margin-top:100px;
}