*{
    margin: 0;
    padding: 0;
}
body{
    border-radius: 57px;
background: #323658;
box-shadow: inset -28px 28px 56px #2b2e4b, 
            inset 28px -28px 56px #3a3e65;
    
}
nav{
    
    padding: 10px;
    width: 100%;
}
ul{
    display: flex;
    justify-content: space-evenly;
    

}
li{
    list-style: none;
    
}
a{
   color: white;
   text-decoration: none;
   font-family: monospace;
}
a:hover{
    color: lightsteelblue
}
img{
    width: 300px;
    border-radius: 50%;
    padding: 20px;
    opacity: 1;
   
}
#caption{
    color: white;

}
#footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    clear: both;
    margin-top:100px;
    
}
#projects{
    display: flex;
    justify-content: space-evenly;
    padding: 4rem;
    
}
#projects>li>a{
    margin:20px;
    background-color: rgb(30, 2, 41);
    color: white;
    padding: 50px;
    border-radius: 20px 0;
    
}
#projects>li>a:hover{
    color: white;
    background-color: blueviolet;
    border-radius: 0 20px;

}